---
title: Design Layouts | Red Ventures Atomizer.
header_title: Layout.
---

<!-- Page Variables -->
<% sidenav = data.navigation.site_navigation.select {|item| request.path.split('/')[0] == item.section_url} %>

<article class="guide__page-article">

  <!-- Page Sections -->
  <div class="page-article__content">
    <%= partial 'layout/_layout-grid' %>
    <%= partial 'layout/_layout-offsets' %>
    <%= partial 'layout/_layout-layouts' %>
  </div>

  <!-- Page Sidebar -->
  <%= partial 'layouts/shared/_guide-page-nav', locals: {sidenav: sidenav} %>
</article>