<div class="page-article__content-section" id="page-header-tabs">
  <div class="content-section__row">
    <div class="content-section__header">
      <h2 class="title">Page Header Tabs</h2>
      <p class="text--large">You know that other thing on the top of every page but has tabs.</p>
      <p class="text">The page header module with tabs, similar to the page header, sits directly below the application's topbar. The only difference between it and the standard page header is the tabs. The tabs allow for large pages to be split up into sections so the user can focus on one core task versus many.</p>
    </div>
  </div>
  <div class="content-section__row">
    <header role="header" class="page-header page-header--tabs">
      <h2 class="page-header__title">SSL Order Process [Production]</h2>
      <div class="tabs tabs--dark">
        <ul class="tab__list">
          <li class="tab__item is-active" data-tab="tab-1">Edit Scenario</li>
          <li class="tab__item" data-tab="tab-2">Scenario Flow</li>
          <li class="tab__item" data-tab="tab-3">Scenario History</li>
          <li class="tab__item" data-tab="tab-4">Settings</li>
        </ul>
      </div>
      <!-- Commented out for demo -->
      <!-- <div class="page-header__right">
        <ul class="page-header__stats">
          <li class="page-header__stat">
            <span class="number">100</span>
            <span class="text">Total Modules</span>
          </li>
          <li class="page-header__stat">
            <span class="number">50</span>
            <span class="text">Total Rules</span>
          </li>
          <li class="page-header__stat">
            <span class="number">1.5</span>
            <span class="text">Load Time in sec.</span>
          </li>
        </ul>
        <div class="button--add-on__container toggle-parent">
          <button id="alert-show-trigger" class="button--alpha button--add-on">Save Scenario</button>
          <span class="button--add-on--alpha toggle-element">
            <img src="../../images/icons/arrow-select-icon.svg" class="button--add-on__icon">
          </span>
          <ul class="button--alpha button--add-on__dropdown">
            <li class="button--add-on__dropdown-item">
              <a href="#" class="button--add-on__dropdown-link">Preview Scenario</a>
            </li>
            <li class="button--add-on__dropdown-item">
              <a href="#" class="button--add-on__dropdown-link">Publish Scenario</a>
            </li>
            <li class="button--add-on__dropdown-item">
              <a href="#" class="button--add-on__dropdown-link">Archive Scenario</a>
            </li>
          </ul>
        </div>
      </div> -->
    </header>
  </div>
  <div class="content-section__row">
    <h4 class="content-section__label">Sample Code</h4>
<% code("html") do %>
  <header role="header" class="page-header page-header--tabs">
    <h2 class="page-header__title">SSL Order Process [Production]</h2>
    <div class="tabs tabs--dark">
      <ul class="tab__list">
        <li class="tab__item is-active" data-tab="tab-1">Edit Scenario</li>
        <li class="tab__item" data-tab="tab-2">Scenario Flow</li>
        <li class="tab__item" data-tab="tab-3">Scenario History</li>
        <li class="tab__item" data-tab="tab-4">Settings</li>
      </ul>
    </div>
    <div class="page-header__right">
      <ul class="page-header__stats">
        <li class="page-header__stat">
          <span class="number">100</span>
          <span class="text">Total Modules</span>
        </li>
        <li class="page-header__stat">
          <span class="number">50</span>
          <span class="text">Total Rules</span>
        </li>
        <li class="page-header__stat">
          <span class="number">1.5</span>
          <span class="text">Load Time in sec.</span>
        </li>
      </ul>
      <div class="button--add-on__container toggle-parent">
        <button id="alert-show-trigger" class="button--alpha button--add-on">Save Scenario</button>
        <span class="button--add-on--alpha toggle-element">
          <img src="../../images/icons/arrow-select-icon.svg" class="button--add-on__icon">
        </span>
        <ul class="button--alpha button--add-on__dropdown">
          <li class="button--add-on__dropdown-item">
            <a href="#" class="button--add-on__dropdown-link">Preview Scenario</a>
          </li>
          <li class="button--add-on__dropdown-item">
            <a href="#" class="button--add-on__dropdown-link">Publish Scenario</a>
          </li>
          <li class="button--add-on__dropdown-item">
            <a href="#" class="button--add-on__dropdown-link">Archive Scenario</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
<% end %><br/>
  </div>
</div>