---
title: Design Modules | Red Ventures Atomizer.
header_title: Modules.
---

<!-- Page Variables -->
<% sidenav = data.navigation.site_navigation.select {|item| request.path.split('/')[0] == item.section_url} %>

<!-- Page Content -->
<article class="guide__page-article">

  <!-- Page Sections -->
  <div class="page-article__content">
    <%= partial 'modules/_modules-topbar' %>
    <%= partial 'modules/_modules-page-header' %>
    <%= partial 'modules/_modules-page-header-tabs' %>
  </div>

  <!-- Page Sidebar -->
  <%= partial 'layouts/shared/_guide-page-nav', locals: {sidenav: sidenav} %>
</article>