<div class="page-article__content-section" id="highlights">
  <div class="content-section__row">
    <div class="content-section__header">
      <h2 class="title">Highlights</h2>
      <p class="text--large">Not the kind you put in your hair.</p>
      <p class="text">Do you have a specific piece of content that needs extra attention? Just use a highlight if that is the case. There are two types of highlights that can be used. See the styles below.</p>
    </div>
  </div>
  <div class="content-section__row">
    <p class="highlight--alpha highlight__text--lead">Highlight text here</p>
    <p class="highlight--bravo">
      Highlight text here
        <span class="highlight--alpha highlight__text--lead highlight--nested">Highlight text here</span>
      Highlight text here
    </p>
  </div>
  <div class="content-section__row">
    <h4 class="content-section__label">Sample Code</h4>
<% code("html") do %>
  <!-- Primary Highlight -->
  <p class="highlight--alpha highlight__text--lead">Highlight text here</p>

  <!-- Secondary Hightlight -->
  <p class="highlight--bravo">
    Highlight text here

      <!-- Nest Highlight -->
      <span class="highlight--alpha highlight__text--lead highlight--nested">Highlight text here</span>

    Highlight text here
  </p>
<% end %><br/>
  </div>
  <div class="content-section__row">
    <h4 class="content-section__label">HTML Guidelines</h4>
    <p>This table gives you a quick overview of the CSS classes that can be applied to create a highlight.</p>
    <table class="table">
      <thead class="table__header">
        <th class="table__header-item">Class Name</th>
        <th class="table__header-item">Usage</th>
      </thead>
      <tbody class="table__body">
        <tr>
          <td class="table__body-item" style="width:30%">.highlight----[type]</td>
          <td class="table__body-item">This should be applied to the element you are adding a highlight too. The class name should change based on the type of highlight being used. <% code("html") do %><p class="highlight--bravo">Highlight text here</p><% end %></td>
        </tr>
        <tr>
          <td class="table__body-item" style="width:30%">.highlight__text--lead</td>
          <td class="table__body-item">This modifying class can be added to the highlight element to make the text bold. <% code("html") do %><p class="highlight__text-lead">Highlight text here</p><% end %></td>
        </tr>
        <tr>
          <td class="table__body-item" style="width:30%">.highlight--nested</td>
          <td class="table__body-item">This modifying class should be added to a highlight that is nested inside of another highlight. <% code("html") do %><p class="highlight--nested">Highlight text here</p><% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>