<aside role="sidebar" class="page-article__aside">
  <nav role="navigation" class="page-article__nav">
    <h5 class="label text--bold">Navigation</h5>
    <ul class="list">
      <% sidenav.each do |item| %>
        <li class="item">
        <% item.sections.each do |section| %>
          <%= link_to section.section_title, section.section_page_link, class: 'link' %>
        <% end %>
        </li>
      <% end %>
      <li class="item margin-top--alpha">
        <%= link_to 'Back To Top', '#top', class: 'link--bravo' %>
      </li>
    </ul>
  </nav>
</aside>