// Modal Component
// ========================================


// Variables
$modal-margin:                  $spacer-delta;
$modal-padding:                 $spacer-charlie;
$modal-position:                absolute;

$modal-container-position:      relative;

$modal-overlay-background:      rgba(48, 55, 67, 0.8);
$modal-overlay-dimensions:      100%;
$modal-overlay-postion:         fixed;
$modal-overlay-top-position:    0;
$modal-overlay-left-position:   0;
$modal-overlay-z-index:         9999;

$modal-body-background:         $white-base;
$modal-body-box-spread:         0 0 15px;
$modal-body-box-color:          rgba(48, 55, 67, 1);
$modal-border-radius:           0;
$modal-body-height:             auto;
$modal-body-margin:             ($spacer-alpha * 2) auto;
$modal-body-opacity:            0;
$modal-body-opacity-active:     1;
$modal-body-position:           relative;
$modal-body-width:              500px;
$modal-body-z-index:            99999;

$modal-close-cords:             -31px -31px null null;
$modal-close-display:           block;
$modal-close-position:          absolute;
$modal-close-size:              30px;
$modal-close-transition:        all 0.3s ease-in-out;
$modal-close-z-index:           9999;

$modal-close-icon-cords:        7px null null 7px;
$modal-close-icon-position:     relative;
$modal-close-icon-width:        15px;



// Structure
.modal {
  @include clearfix;
  @include position($modal-position);
  cursor: default;
  visibility: hidden;

  &.modal--active {
    visibility: visible;

    // Change opacity of modal overlay
    .modal__overlay {
      opacity: 1;
    }

    // Change opacity of modal body
    .modal__body {
      margin: $modal-body-margin;
      opacity: $modal-body-opacity-active;
    }
  }
}

.modal__container {
  @include position($modal-container-position);
}

.modal__overlay {
  @include position($modal-overlay-postion, $modal-overlay-top-position null null $modal-overlay-left-position);
  @include transition(opacity 0.75s ease);
  background-color: $modal-overlay-background;
  height: $modal-overlay-dimensions;
  opacity: 0;
  width: $modal-overlay-dimensions;
  z-index: $modal-overlay-z-index;
  overflow: scroll;
}

.modal__body {
  @include box-shadow($modal-body-box-spread, $modal-body-box-color);
  @include clearfix;
  @include position($modal-body-position);
  @include transition(all 1.5s ease);
  background-color: $modal-body-background;
  border-radius: $modal-border-radius;
  border: none;
  height: $modal-body-height;
  margin: -($spacer-alpha * 2) auto 0;
  opacity: $modal-body-opacity;
  padding: $modal-padding;
  width: $modal-body-width;
  z-index: $modal-body-z-index;
}

.modal__body-content {
  margin: $modal-margin * 2 0;
}

.modal__header {
  margin-bottom: $modal-margin;

  .title {
    @include s-bravo;
  }
}

.modal__close {
  @include position($modal-close-position, $modal-close-cords);
  @include transition($modal-close-transition);
  display: $modal-close-display;
  height: $modal-close-size;
  width: $modal-close-size;
  z-index: $modal-close-z-index;

  &:hover #app-icon {
    opacity: 0.5;
  }
}

.modal__close-icon {
  @include position($modal-close-icon-position, $modal-close-icon-cords);
  height: $modal-close-icon-width;

  #app-icon {
    fill: $white-base;
  }
}

.modal__actions {
  float: right;
  margin-top: $spacer-alpha;
}

.modal__actions-item {
  display: inline-block;

  &:first-child {
    margin-right: $spacer-delta;
  }
}
