<div class="page-article__content-section" id="typography">
  <div class="content-section__row">
    <div class="content-section__header">
      <h2 class="title">Typography</h2>
      <p class="text--large">Atomizer leverages one typeface and two weights for its interface. Proxima Nova, designed by Mark Simonson Studio, gives the interface a professional look with just enough personality.</p>
      <p class="content__text">The dominate weight used is regular. This style of the font should be used in almost all cases. When a text element needs additional attention the bold weight can then be used. You will notice that the bold weight is used primarly for actions, labels, and areas where strong emphasis is needed. Below you will find various versions of the font and how it is to be used throughout the application's interface.</p>
    </div>
  </div>
  <div class="content-section__row">
    <h1 class="margin-top--charlie text--bold">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</h1>
    <h2 class="margin-top--delta text--regular">a b c d e f g h i j k l m n o p q r s t u v w x y z</h2>
  </div>
  <div class="content-section__row">
    <h4 class="content-section__label">Standard Header Styles</h4>
<% code("html") do %>
  <h1>h1. This is a very large header.</h1>
  <h2>h2. This is a large header.</h2>
  <h3>h3. This is a medium header.</h3>
  <h4>h4. This is a moderate header.</h4>
  <h5>h5. This is a small header.</h5>
  <h6>h6. This is a tiny header.</h6>
<% end %><br/>
    <ul>
      <li><h1>h1. This is a very large header.</h1></li>
      <li><h2>h2. This is a large header.</h2></li>
      <li><h3>h3. This is a medium header.</h3></li>
      <li><h4>h4. This is a moderate header.</h4></li>
      <li><h5>h5. This is a small header.</h5></li>
      <li><h6>h6. This is a tiny header.</h6></li>
    </ul>
  </div>
  <div class="content-section__row">
    <h4 class="content-section__label">Standard Body Styles</h4>
<% code("html") do %>
  <p>p. This is the standard body copy.</p>
  <p class="text--small">p. This is the small body copy.</p>
<% end %><br/>
    <ul>
      <li><p>p. This is the standard body copy.</p></li>
      <li><p class="text--small">p. This is the small body copy.</p></li>
    </ul>
  </div>
  <div class="content-section__row">
    <h4 class="content-section__label">Label Style</h4>
<% code("html") do %>
  <label class="form__label">This is a label</label>
<% end %><br/>
    <ul>
      <li><label class="form__label">This is a label</label></li>
    </ul>
  </div>
</div>