// Colors Variables
// ========================================

  // Black
  $black-light:   #445257;
  $black-base:    #17283D;

  // Blue
  $blue-base:     #4FBDF4;

  // Green
  $green-base:    #7ACC5A;

  // Grey
  $grey-light:    #EFEFEF;
  $grey-base:     #BFBFBF;
  $grey-dark:     #9EA1A6;

  // Orange
  $orange-base:   #FE7328;

  // Purple
  $purple-base:   #7460EE;

  // Red
  $red-base:      #FF5F5D;

  // White
  $white-base:    #FFFFFF;
  $white-light:   #FAFAFA;
  $white-dark:    #F8F8F9;

  // Yellow
  $yellow-base:   #FFC539;


  //MAIN PALETTE LIST
  $colors: (
    black-light:  $black-light,
    black-base:   $black-base,
    blue-base:    $blue-base,
    green-base:   $green-base,
    grey-light:   $grey-light,
    grey-base:    $grey-base,
    grey-dark:    $grey-dark,
    orange-base:  $orange-base,
    purple-base:  $purple-base,
    red-base:     $red-base,
    white-base:   $white-base,
    white-light:  $white-light,
    white-dark:   $white-dark,
    yellow-base:  $yellow-base
  );