---
title: Pattern Library | Red Ventures Atomizer.
header_title: Atomizer.
---

<section class="homepage-section__lead">
  <div class="container">
    <%= image_tag 'misc/homepage-ui-img.png' %>
  </div>
</section>
<hr class="guide__divider" />
<section class="homepage-section">
  <div class="container">
    <div class="columns-4__s columns-6__l offset-1__l offset-1__m">
      <h2>About Atomizer’s Pattern Library.</h2>
    </div>
    <div class="row">
      <div class="columns-4__s columns-5__m columns-6__l offset-1__l offset-1__m">
        <p>Welcome to Atomizer's pattern library. A component-driven library that's core focus is to provide develpers and designers with the necessary pieces to build and maintain Atomizer's evolving interface. The libary consists of three main pieces: elements, components and modules. Elements such as colors, typography and iconography give the interface a unique voice and tone. While the components provide designers a toolbox to continue building the ever evolving product. And lastly modules, the combination of components and stuctural elements that hold the interface together.</p>
        <p>Similar to Atomizer's interface, the pattern library is continuing to grow and evolve. To ensure you have the most update to elements, components and modules, check back from time to time. Happy designing and developing.</p>
      </div>
      <div class="columns-2__m columns-4__l offset-1__l homepage-section__nav">
        <label>Explore The Library</label>
        <ul>
          <li class="margin-bottom--delta"><%= link_to 'Atomizer Elements', 'elements/', class: 'link--alpha' %></li>
          <li class="margin-bottom--delta"><%= link_to 'Atomizer Components', 'components/', class: 'link--alpha' %></li>
          <li><%= link_to 'Atomizer Modules', 'modules/', class: 'link--alpha' %></li>
        </ul>
      </div>
    </div>
  </div>
</section>